#contenido{
 background-image: url("../img/x.jpg");
 background-attachment: fixed;
   background-position: right bottom;
   background-repeat: no-repeat;
   background-size: 25%

}

#ArtOne {
  float: right;
  width: 40%;
  background-color: rgba(250, 23, 255, 0.52);
  border: 2px dotted rgb(207, 14, 25);
}
#ArtTwo {
  float: left;
  width: 40%;
  background-color: rgba(250, 23, 255, 0.52);
  border: 2px dotted rgb(207, 14, 25);
}
#SecOtr p{
  color: #acfbf2;
}
#SecOtr h1{
  color: #acfbf2;
  font-size: 3em;
}
