#ArtOne {
  float: right;
  width: 40%;
  background-color: rgba(250, 23, 255, 0.52);
  border: 2px dotted rgb(207, 14, 25);
}
#ArtTwo {
  float: left;
  width: 40%;
  background-color: rgba(250, 23, 255, 0.52);
  border: 2px dotted rgb(207, 14, 25);
}
p
{
  color: rgb(0, 0, 0)
}
