#ArtOne {
  background-color: rgba(232, 14, 27, 0.72);
  border: 2px dotted #2653b6;
}
#ArtTwo {
  margin-left: 50px;
  background-color: rgba(232, 14, 27, 0.72);
  border: 2px dotted #2653b6;
}
#ArtThr {
  background-color: rgba(232, 14, 27, 0.72);
  border: 2px dotted #2653b6;
}
