#ArtOne {
  background-color: rgba(143, 35, 175, 0.78);
  border:2px dotted #eba113;

}
#ArtTwo {
  background-color: rgba(143, 35, 175, 0.78);
  border:2px dotted #eba113;

}
#ArtThr {

  background-color: rgba(143, 35, 175, 0.78);
  border:2px dotted #eba113;

}
